
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f7fa;
  color: #333;
}


.pagina2 {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}


.bloco1, .bloco2, .bloco3 {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(134, 221, 134);
  padding: 25px;
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
}